/* bindings are mostly to separate danbooru CSS classes from the mozilla ones */
textbox[type="danbooruac"] {
	-moz-binding: url("chrome://danbooruup-bindings/content/danbooruUp.xml#danbooruac") !important;
	padding: 3px 4px 2px 2px;
}

popup[type="danbooru-autocomplete"] {
  -moz-binding: url("chrome://danbooruup-bindings/content/danbooruUp.xml#danbooru-autocomplete-result-popup");
  display: -moz-popup !important;
}

/* copied from xul.css as a result */
popup[type="danbooru-autocomplete"][hidden="true"] {
  visibility: hidden;
}

/* copied from autocomplete.css as a result */
popup[type="danbooru-autocomplete"] {
  border-width: 1px;
  -moz-border-top-colors: ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDDarkShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDDarkShadow;
  padding: 0;
  background-color: -moz-Field !important;
}

.danbooru-autocomplete-tree {
  -moz-binding: url("chrome://danbooruup-bindings/content/danbooruUp.xml#danbooru-autocomplete-tree");
}

.danbooru-autocomplete-treebody {
  -moz-binding: url("chrome://danbooruup-bindings/content/danbooruUp.xml#danbooru-autocomplete-treebody");
}

.danbooru-autocomplete-treerows {
  -moz-binding: url("chrome://danbooruup-bindings/content/danbooruUp.xml#danbooru-autocomplete-treerows");
}

.danbooru-autocomplete-tree {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
}

.danbooru-autocomplete-treecol {
  -moz-appearance: none !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.danbooru-autocomplete-treebody::-moz-tree-cell-text {
  -moz-padding-start: 8px;
}

treechildren.danbooru-autocomplete-treebody::-moz-tree-row(selected) {
  background-color: Highlight;
}

treechildren.danbooru-autocomplete-treebody::-moz-tree-cell-text(selected) {
  color: HighlightText;
}

