@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* options dialog */

.windowDialog, .windowDialog prefpane { padding: 0px; }
.contentPane { margin: 9px 8px 5px 8px; }
.zcontentPane { margin: 0px 0px 0px 0px; }
.actionButtons { margin: 0px 3px 6px 3px !important; }

#danbooruUpOptions {
	padding: 1px;
	width: 40em !important;
	height: 53em !important;
}

#danbooruUpOptions > prefpane {
	padding: 1px;
}

#danbooruTree {
	min-height: 15em;
}
#updateInterval,#resultLimit {
	width: 5em;
}

#styleList {
	border-width: 1px;
	-moz-border-top-colors: ThreeDDarkShadow;
	-moz-border-right-colors: ThreeDDarkShadow;
	-moz-border-bottom-colors: ThreeDDarkShadow;
	-moz-border-left-colors: ThreeDDarkShadow;
	padding: 0;
	border-style: solid;
	background-color: -moz-Field;
	min-width: 7em;
	max-width: 15em;
	min-height: 30em;
}

#danbooruUpOptions radio[pane] {
	list-style-image: url(chrome://browser/skin/preferences/Options.png);
}

radio[pane=danbooruUpGeneralPane] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

radio[pane=danbooruUpDanbooruPane] {
	-moz-image-region: rect(0px, 96px, 32px, 64px);
}

radio[pane=danbooruUpAutocompletePane] {
	-moz-image-region: rect(0px, 224px, 32px, 192px);
}

radio[pane=danbooruUpStylePane] {
	list-style-image: url(chrome://mozapps/skin/extensions/viewButtons.png) !important;
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}
