<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://pianosite.net/danbooruup/" version="0.5.1">
    <name>DanbooruUp</name>
    <description>Tag completion for the Danbooru website.</description>
    <author href="http://pianosite.net/danbooruup/">Zatchii</author>
    <icon src="icon.png"/>
    <icon src="icon_18.png"/>
    <icon src="icon_64.png"/>
    <icon src="icon_128.png"/>
    <update-description href="http://pianosite.net/danbooruup/update_o.xml"/>
</widget>
